
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html,body,div,ul,ol,li,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
}

/* above */
/* color code varibales can be reused when needed */
:root {

    --dark-primary: #1b1f24;
    --white-primary: white;
    --blue-primary: #12bdff;
    --light-gray-primary: #22282f;


}



/* change font for whole body tag */

body { font-family  : 'Roboto', sans-serif;
        }


/* button styling for resume download*/

header button {
    
   padding: 10px;
    background-color: var(--dark-primary);
    border: 1px solid var(--blue-primary);
    color: var(--blue-primary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header {
    background-color: var(--dark-primary);
    padding:25px 30px ;
    color: var(--white-primary);
    
    /* to bring logo after nav bar after download cv we need to have display tag */
    display: flex;
    /* justify the all three comp on header tag */
    /* justify-content — controls alignment of all items on the main axis. 
 */
    /* justify-content: space-around; */

    /* align-items — controls alignment of all items on the cross axis.
 */
 align-items: center;
}

/* to move all list tag from vertical to horizantal */


ul{
    display: flex;
    padding:0px;
    
}


header ul li {
    margin-right: 20px;
    list-style: none;
    
}
/* how to change achor tag color only for tag under nested inside ul li */
ul li a{
    color: var(--white-primary);
    /* basically calling a tag from li nested inside ul thats why ul li a */
    text-decoration: none;
    letter-spacing: 1px;
} 


/* when over it will change into  */
ul li a:hover {
    color: var(--blue-primary);
}


/* when i over button it shud show pointer */

button:hover {
    cursor: pointer;
    color: var(--white-primary);
    background-color: var(--blue-primary);
   
}

/* class are refered in css using dot
    # are refered as ID in css

*/

.logo {
    font-weight:bold 600;
    color: var(--blue-primary);
    letter-spacing: 3px;
    
}


/* Day 3 ui ux css files */


/* section hero home page
 */

.hero-section {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    display: flex;
    align-items: center;
    padding: 20px 150px 0px 150px;
    justify-content: space-between;
    
    
 }


.hero-section .hero-section-title {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

 }

.hero-section .hero-section-describe {
    font-size: 20;
    font-family:  'Courier New', Courier, monospace;
    color: lightgray;
    margin-bottom: 25px;
 }


.hero-section .hero-section-social-icon li{
    padding-right: 14px;
    list-style: none;
    margin-bottom: 25px;
    color: var(--white-primary);
}

.fa-facebook-official:hover{
    color:#316FF6 ;
} 

.fa-github-square:hover{
    color: black;
}

.fa-linkedin-square:hover{
    color:#0A66C2 ;
}

.fa-twitter-square:hover{
    color: #1DA1F2;
}




section button{
    padding: 10px 10px;
    border: 1px solid var(--blue-primary);
    background-color: var(--dark-primary);
    color: var(--blue-primary);
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
    margin-right: 15px;
}

.blue-button:hover button{

    background-color:var(--dark-primary) ;
    color: var(--blue-primary);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--blue-primary);

}



section.about-section {
    background-color: var(--light-gray-primary);
    display: flex;
    padding: 40px 150px;
    color: white;
    align-items: center;
    
   

}
.about-section ol {
    margin-left: 0px;
}
.about-section ol li{
    /* justify-content: space-evenly; */
    list-style: none;
    padding-bottom: 10px;
    
}
.about-section ol li span{
    /* justify-content: space-evenly; */
    list-style: none;
    padding-bottom: 10px;
    color: grey;
    margin-left: x;
    
}



section.about-section .about-desc-section {
    margin-left: 80px;
}


.about-desc-section h1 {
    font-weight: 4000;
    font-size: 30px;
    margin-bottom: 25px;
    }
.about-desc-section h1 span{
    color: var(--blue-primary);
    }

section.about-section img {
    border-radius: 10px;
    
}
 

section.about-section img:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--blue-primary);
}
 


/* my service section */

.our-service-section {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    padding: 20px 60px;
    text-align: center;
}

.work-section-box {
    background-color: var(--light-gray-primary);
    max-width: 250px;
    text-align: left;
    padding: 25px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.work-section-box p {
    color: grey;
    font-size: 14px;
}

.work-section-box a {
    text-decoration:none;
    color: var(--blue-primary);
    /* margin-top: 10px; */
    
}

.work-section-box p {
    text-decoration:none;
    /* color: var(--blue-primary); */
    margin-bottom: 10px;
    
}

.work-section-box h4 {
    text-decoration:none;
    /* color: var(--blue-primary); */
    margin-bottom: 10px;
    
}

.our-service-section h1 {
   
    margin-bottom: 20px;
    
}

.service-flex-section-box {
    display: flex;
    align-items: center;
    /* margin-right: 15px; */
}

.service-flex-section-box .work-section-box {
    margin-right: 40px;
    
}

section.our-service-section .service-flex-section-box{
    justify-content: center;
}


.work-section-box:hover {
    box-shadow: 0px 0px 10px var(--blue-primary);
}


/* contact section */


section.contact-us-section {
    background-color: var(--light-gray-primary);
    padding: 40px;
    text-align: center;
    color: var(--white-primary);
    
}

.contact-us-section h4 {
    font-size:30px;
    margin-bottom: 20px;
    
}

.contact-us-section form input , textarea{
    padding: 10px 10px;
    outline: none;
    width: 300px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    
    
}




/* media queries */

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header >  * {
        margin-bottom: 10px;
    }

    section.hero-section {
        flex-direction: column;
        padding: 20px 15px 0px 15px;
        
    }

    /* about section */

    section.about-section {
        flex-direction: column;
        padding: 5px 0px;

    }

    .about-desc-section {
        margin-left: 0px;
    }

    .about-img-section {
        margin: 15px;
        justify-content: none;
    }

    section.about-section .about-desc-section {
        padding: 0px;
        justify-content: none;
        margin: 15px;
    }

    /* my services */

    section.our-service-section .service-flex-section-box {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .service-flex-section-box .work-section-box {
        margin-right: 0px;
        margin-bottom: 40px;
        
    }


}
